<div
  data-testid="remote-card"
  class="flex flex-col items-start gap-3 border border-opacity-30 rounded-md p-4 pb-5 hover:bg-base-300 cursor-pointer hover:underline"
  [routerLink]="foldersLink()"
>
  <div data-testid="remote-card-name" class="text">
    {{ remote() }}
  </div>

  @if (usageResult$ | async; as usageResult) {
    <div class="text-xs">
      @if (usageResult | isPending) {
        <div
          data-testid="remote-space-skeleton"
          class="skeleton w-64 h-4 rounded-md"
        ></div>
      } @else if (usageResult | hasFailed) {
        <span data-testid="remote-space-error">
          Unable to get space information
        </span>
      } @else {
        <span data-testid="remote-space-info">
          @let usage = usageResult.data;

          @if (usage?.used !== undefined) {
            @if (usage?.total !== undefined) {
              {{ usage!.used! | prettyBytes }} /
              {{ usage!.total! | prettyBytes }} used,
            } @else {
              {{ usage!.used! | prettyBytes }} used,
            }
          }

          @if (usage?.trashed !== undefined) {
            {{ usage!.trashed! | prettyBytes }} in trash
          }
        </span>
      }
    </div>
  }
</div>
