<button
  data-testid="toggle-button"
  class="flex gap-1 items-center text-sm text-gray-600 dark:text-gray-400 py-2"
  (click)="toggle()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    [class.rotate-90]="isOpen()"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="size-4"
  >
    <path
      fill-rule="evenodd"
      d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
      clip-rule="evenodd"
    />
  </svg>
  Show Reasoning
</button>

@if (isOpen()) {
  @for (reasoning of reasonings(); track reasoning.id) {
    <p
      data-testid="reasoning-content"
      class="text-sm text-gray-600 dark:text-gray-400 pl-5"
    >
      {{ reasoning.content }}
    </p>
  }
}
