<div class="container h-screen mx-auto p-4 flex items-center justify-center">
  <div class="card card-compact bg-base-100 w-96 shadow-xl">
    <figure>
      <img src="/assets/404-page/sad-cat.png" alt="Sad cat" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Page not found</h2>
      <p>Please try again</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" routerLink="/">
          Go back to the home page
        </button>
      </div>
    </div>
  </div>
</div>
