<div class="overflow-x-auto w-full">
  <table class="table">
    <thead>
      <tr>
        <th (click)="toggleSort('name')" class="cursor-pointer hover:bg-base-200 select-none">
          <div class="flex items-center gap-1">
            Name
            @if (sortConfig()?.field === 'name') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th
          (click)="toggleSort('lastModified')"
          class="cursor-pointer hover:bg-base-200 select-none"
        >
          <div class="flex items-center gap-1">
            Date Modified
            @if (sortConfig()?.field === 'lastModified') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th (click)="toggleSort('size')" class="cursor-pointer hover:bg-base-200 select-none">
          <div class="flex items-center gap-1">
            Size
            @if (sortConfig()?.field === 'size') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th (click)="toggleSort('mimeType')" class="cursor-pointer hover:bg-base-200 select-none">
          <div class="flex items-center gap-1">
            Type
            @if (sortConfig()?.field === 'mimeType') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @if (itemsResult() | isPending) {
        @for (i of 10 | range; track i) {
          <tr data-testid="table-row-skeleton">
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
          </tr>
        }
      } @else if (itemsResult() | hasFailed) {
        <tr data-testid="table-row-error">
          <td colspan="2">
            <div>Error: {{ itemsResult().error! }}</div>
          </td>
        </tr>
      } @else {
        @for (item of itemsResult().data!; track item.name) {
          <tr
            class="hover:bg-base-300 cursor-pointer hover:underline"
            data-testid="table-row-item"
            (click)="item.onClick()"
          >
            <td>
              <div class="flex gap-2 items-center">
                @if (item.isDir) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
                    />
                  </svg>
                } @else if (item.mimeType.startsWith('image/')) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="size-6"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                    />
                  </svg>
                } @else if (item.mimeType.startsWith('video/')) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"
                    />
                  </svg>
                  />
                } @else {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-6"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                    />
                  </svg>
                }
                <span>
                  {{ item.name }}
                </span>
              </div>
            </td>
            <td>
              @if (item.lastModified) {
                {{ item.lastModified }}
              } @else {
                -
              }
            </td>
            <td>
              @if (item.size) {
                {{ item.size }}
              } @else {
                -
              }
            </td>
            <td>
              {{ item.mimeType }}
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
