<div
  class="relative w-16 h-16 shadow-lg"
  inViewport
  (inViewportAction)="setIsInViewport($event.visible)"
  [attr.title]="title()"
  tabindex="0"
  role="button"
  (click)="markerClick.emit($event)"
  (keydown.enter)="markerClick.emit($event)"
  (keydown.space)="markerClick.emit($event)"
>
  @if (imageUrl() | isPending) {
    <div
      data-testid="image-loading"
      class="rounded-lg border-2 border-gray-800 bg-base-300 w-full h-full flex items-center justify-center"
    >
      <span class="loading loading-spinner loading-md"></span>
    </div>
  } @else if (imageUrl() | hasFailed) {
    <div
      data-testid="image-failed"
      class="rounded-lg border-2 border-gray-800 bg-base-300 w-full h-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
        />
      </svg>
    </div>
  } @else {
    <div
      data-testid="image-loaded"
      class="rounded-lg border-2 border-gray-800 w-full h-full bg-base-300 bg-cover cursor-pointer overflow-hidden"
      [ngStyle]="{
        'background-image': 'url(' + imageUrl().data! + ')',
      }"
    ></div>
  }
  @if (badgeCount() > 1) {
    <span
      class="absolute bottom-0 right-0 badge badge-secondary badge-sm select-none pointer-events-none translate-x-1/4 translate-y-1/2"
      >{{ badgeCount() }}</span
    >
  }
</div>
