<div class="mb-6 flex items-center justify-between">
  <h1 class="text-2xl font-bold">Albums</h1>

  <div class="flex items-center gap-2">
    <app-content-albums-sort-dropdown [(sortBy)]="albumsSortBy" />
    <app-content-albums-list-view-dropdown
      [(listViewOption)]="albumsListViewOption"
    />
  </div>
</div>
<div class="mb-4xl">
  @if (albumsListViewOption() === ListViewOptions.TABLE) {
    <app-content-albums-list-table
      [albumId]="albumId()"
      [sortBy]="albumsSortBy()"
    />
  } @else {
    <app-content-albums-list-cards
      [albumId]="albumId()"
      [sortBy]="albumsSortBy()"
    />
  }
</div>
