<nav>
  <div class="container mx-auto px-4">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex gap-4">
        <button
          type="button"
          data-testid="hamburger-menu-button"
          class="md:hidden"
          (click)="openSideBar()"
          aria-label="Open main menu"
        >
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>

        <div class="flex shrink-0 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path d="M12 9a3.75 3.75 0 1 0 0 7.5A3.75 3.75 0 0 0 12 9Z" />
            <path
              fill-rule="evenodd"
              d="M9.344 3.071a49.52 49.52 0 0 1 5.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 0 0 1.11-.71l.822-1.315a2.942 2.942 0 0 1 2.332-1.39ZM6.75 12.75a5.25 5.25 0 1 1 10.5 0 5.25 5.25 0 0 1-10.5 0Zm12-1.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <app-theme-toggle-button class="mr-3 hidden md:block" />
        <app-header-avatar-button class="hidden md:block" />
      </div>
    </div>
  </div>
</nav>
@if (isSidebarOpen()) {
  <aside class="fixed inset-0 z-40 flex">
    <button class="fixed inset-0 bg-black opacity-55" (click)="closeSideBar()">
      <span class="sr-only">Close sidebar</span>
    </button>

    <div
      class="relative w-64 flex flex-col h-full z-50 py-4 bg-base-300 shadow-lg"
    >
      <div class="flex items-center justify-between pl-4">
        <div class="flex gap-2 items-center">
          <app-header-avatar-button dropdownPosition="left" />
          <app-theme-toggle-button />
        </div>
        <button
          data-testid="close-sidepanel-button"
          class="self-end btn btn-ghost btn-circle"
          aria-label="Close menu"
          (click)="closeSideBar()"
        >
          <!-- X (close) icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <nav class="menu flex flex-col w-full gap-2 pt-4 pr-4 pl-0">
        <!-- Sidebar links removed as per user request -->
      </nav>
    </div>
  </aside>
}
