<nav>
  <div class="container mx-auto px-4">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex gap-4">
        <div class="flex shrink-0 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 9.75a6 6 0 0 1 11.573-2.226 3.75 3.75 0 0 1 4.133 4.303A4.5 4.5 0 0 1 18 20.25H6.75a5.25 5.25 0 0 1-2.23-10.004 6.072 6.072 0 0 1-.02-.496Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        @let numJobs = (jobs$ | async)?.size ?? 0;
        @if (numJobs > 0) {
          <app-jobs-dropdown />
        }
        <app-theme-toggle-button />
      </div>
    </div>
  </div>
</nav>
