<div inViewport (inViewportAction)="setIsInViewport($event.visible)">
  @if (imageDataResult() | isPending) {
    <div
      data-testid="image-loading"
      class="skeleton animate-pulse"
      [style.width.px]="width()"
      [style.height.px]="height()"
    ></div>
  } @else if (imageDataResult() | hasFailed) {
    <div
      data-testid="image-error"
      class="bg-base-300"
      [style.width.px]="width()"
      [style.height.px]="height()"
    >
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded text-sm"
        >
          <span class="font-bold">Error:</span> Failed to load image
        </div>
      </div>
    </div>
  } @else {
    @let imageData = imageDataResult().data!;
    <img
      loading="lazy"
      data-testid="media-item-image"
      [src]="imageData.baseUrl"
      [style.width.px]="width()"
      [style.height.px]="height()"
      [alt]="fileName()"
      (click)="imageData.onClick($event)"
      (keydown)="imageData.onKeyDown($event)"
      tabindex="0"
      role="button"
    />
  }
</div>
