<div
  #masonryContainer
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMoreMediaItems()"
>
  <ngx-masonry [options]="masonryOptions()">
    @for (image of images(); track image.id) {
      <div ngxMasonryItem class="masonry-item">
        <app-image
          masonryLazy
          [mediaItemId]="image.id"
          [gPhotosMediaItemId]="image.gPhotosMediaItemId"
          [fileName]="image.fileName"
          [width]="image.width"
          [height]="image.height"
        />
      </div>
    }
  </ngx-masonry>
</div>
