<app-folder-breadcrumbs />

<div class="mb-6 flex items-center justify-between gap-2">
  <h1 class="text-lg font-bold" data-testid="current-folder">
    {{ currentFolder() }}
  </h1>

  <div class="flex items-center">
    @if (filesListViewOption() === ListViewOptions.LIST) {
      <app-folder-sort-dropdown [(sortBy)]="filesSortBy" />
    }
    <app-folder-display-dropdown [(listViewOption)]="filesListViewOption" />
  </div>
</div>
<div class="mb-4xl">
  @if (filesListViewOption() === ListViewOptions.TABLE) {
    <app-folder-list-table [contentsResult]="contentsResult()" />
  } @else {
    <app-folder-list-cards
      [sortBy]="filesSortBy()"
      [contentsResult]="contentsResult()"
    />
  }
</div>
